<!DOCTYPE html>
<html data-namespace-typo3-fluid="true">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Rock_Paper_Scissors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        img{width: 75%}
        .row{display: flex; flex-direction: row; flex-wrap: nowrap; padding-top: 10% }
    </style>
</head>
<body>
<h1>Choose your pick</h1>


<div class="container">

    <div class="row">

                <div>
                    <img src="Pictures/rock.png"  class="rounded img-fluid" onclick="play(1)">
                    <p>ROCK</p>
                </div>
                <div>
                    <img src="Pictures/paper.png"  class="rounded img-fluid" onclick="play(2)">
                    <p>PAPER</p>
                </div>
                <div>
                    <img src="Pictures/scissors.png"  class="rounded img-fluid" onclick="play(3)">
                    <p>SCISSORS</p>
                </div>
            </div>

    </div>

<script>
    function play (pick){

        console.log(pick);
        fetch('http://localhost/rock_paper_scissors/Classes/Controller.php?choice=' + pick, {})
            .then(response => response.json())
            .then(response => {
            console.log(response);
    })

    }



</script>

</body>
</html>